@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
.news{
    color: white;
}
#newstitle{
 color:#00a2ffd8;
    padding-left: 10%;
    padding-top: 2%;
    font-family: "Orbitron", sans-serif;
}
#newstext{
    padding-left: 5%;
    
}
#sectitle{
    font-family: "Audiowide", sans-serif;
}
#newstexttwo{
    text-indent: 50px;
    line-height: 1.5;
    word-spacing: 7px;
    font-family: "IM Fell English SC", serif;
  font-weight: 400;
  font-style: normal;
}
.imgstyle{
    cursor: pointer;
}
span{
    color:#00a2ffd8;
}
    
